/* Estilos Base */
:root {
  --font-family: "Inter", sans-serif;

  /* Nova Paleta de Cores */
  --primary-color: #10B981;
  --primary-color-dark: #047857;
  --text-dark: #111827;
  --text-light: #6B7280;
  --white: #F9FAFB;
  --background-light: #F9FAFB;
  --card-background: #FFFFFF;
  --card-shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  background-color: var(--background-light);
  color: var(--text-dark);
  line-height: 1.6;
}