.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  counter-reset: step;
}

.progress-steps__step {
  flex: 1;
  text-align: center;
  position: relative;
}

.progress-steps__step:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #E5E7EB;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: var(--white);
  color: #9CA3AF;
  font-weight: bold;
}

.progress-steps__step--completed:before {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.progress-steps__step--active:before {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}

.progress-steps__step:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E5E7EB;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progress-steps__step:first-child:after {
  content: none;
}

.progress-steps__step--completed:after,
.progress-steps__step--active:after {
  background-color: var(--primary-color);
}