:root {
  /* Nova Paleta de Cores */
  --primary-color: #10B981;
  --primary-color-dark: #047857;
  --secondary-color: #A7F3D0;
  --text-dark: #111827;
  --text-light: #6B7280;
  --white: #F9FAFB;
  --background-light: #F9FAFB;
  --card-background: #FFFFFF;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --error-color: #EF4444;
  --warning-color: #F59E0B;
  --success-color: #10B981;
}